$m: '.form';

input[type="text"] {
  width: 100%;
  height: 30px;
  box-shadow: none;
  background: $teal;
  border: none;
  padding: 10px 15px;
  height: 200%;
  font-size: 24px;
  color: $dark-gray;
  font-weight: 700;
  $placeholder-color: mix($light-gray, $teal, 75%);
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
  &:focus {
    outline: none;
  }
}

@media (max-width: $mq-singlecol) {
  #{$m}__lines {
    width: 70%;
    float: left;
    @include clearfix;
  }

  #{$m}__line {
    //display: inline-block;
    //float: left;
  }
}

@media (max-width: $mq-petite) {
  #{$m}__lines {
    width: 100%;
  }
}

#{$m}__line {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 1rem 0;
}

#{$m}__text-field__label {
  display: inline-block;
  //font-size: 18px;
  color: $dark-gray;
  //padding: 0 0 5px 13px;
  margin-bottom: 10px;
}

#{$m}__checkbox {
    display: none;
}

#{$m}__checkbox + label,
#{$m}__checkbox + label:after {
    padding: 6px 9px;
    display: inline-block;
}
#{$m}__checkbox + label {
    position: relative;
    padding-left: 35px;
    //background: linear-gradient(right, desaturate($green, 10%), desaturate($teal, 10%));
    color: #444;
    border: 1px solid $teal;
    border-radius: 4px;
    margin: 1px;
}
#{$m}__checkbox + label:after {
    position: absolute;
    margin: auto;
    top: 2px;
    left: 5px;
    font-size: 100%;
    content: '';
    background-image: url('checkmark2.svg');
    filter: hue-rotate(90deg) saturate(4) brightness(1);
    width: 100%;
    height: 100%;
    transform: scale(.75);
    transform-origin: left center;
    background-repeat: no-repeat;
}
#{$m}__checkbox + label:hover:after,
#{$m}__checkbox:checked + label:after {
    content: '';
    background-image: url('checkmark.svg');
    width: 100%;
    height: 100%;
    transform: scale(.75);
    transform-origin: left center;
    background-repeat: no-repeat;
}

#{$m}__checkbox + label:hover:after {
  //text-shadow: 0 0 7px rgba(255,255,255,0.1);
  color: rgba(0,0,0,0);
}
#{$m}__checkbox:checked + label:hover:after {
  text-shadow: none;
  color: inherit;
}
#{$m}__checkbox + label {
  transition: background .1s ease;
}
#{$m}__checkbox:checked + label,
#{$m}__checkbox:checked + label:hover {
    border: 1px solid transparent;
    background: mix($teal, $light-gray);
}
#{$m}__checkbox + label:hover {
    //border: 1px solid transparent;
    background: mix($teal, $light-gray, 25%);
}

#{$m}__checkbox + label:active,
#{$m}__checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 0 7px 1px rgba(0,0,0,0.5), inset 0px 0 3px 0 rgba(0,0,0,0.4);
  border: none;
  margin: 2px;
}
#{$m}__checkbox:checked + label {
  color: rgba(0,0,0,0.9);
    border: 1px solid #888;
}

input[type="submit"] {
  @include button;
}