<header>
  <h2>NYC Social Service Mapper</h2>

  <h3>Find Resources Near You</h3>
</header>

<section>
  <div class="about">
   <p>The city of New York maintains a large database of social service agencies. Until now, there was no simple way for ordinary people to browse, filter, or view them. Helpfrog aims to provide the missing link between the open data portal and regular New Yorkers. Just enter an address or intersection, choose one or more categories, and we'll show you a map and list of the nearest resources.</p>
  </div>
</section>

<section>
<%= render 'search_form' %>
</section>

<footer>
  <p>HelpFrog is designed for use on library or social service agency computers and <strong>doesn't</strong> require an email address, smartphone, phone number, or ID of any kind. Helpfrog is an <a href="https://github.com/luciankahn/helpfrog" target="_blank">open source</a> app created & maintained by <a href="http://luciankahn.com" target="_blank">Lucian Kahn</a>, using Ruby, Sinatra, jQuery, <a href="http://www.rubygeocoder.com/" target="_blank">Ruby Geocoder</a>, and Google Maps API.</p>
</footer>