$p: '.results';

#{$p}__title h2 {
  margin: 0 auto;
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: 2.5rem;
  text-align: center;
  color: $dark-gray;
  font-weight: 200;
}

#{$p}__map {
  width: 60%;
  float: right;
  display: block;
  min-height: 450px;
}

#{$p}__list {
  width: 40%;
  padding-left: 2rem;
  background: darken($light-gray, 5%);
  float: left;
}

#{$p}__list h3 {
  margin-top: 0;
}

#{$p}__list ol {
  margin-left: 0;
  padding-left: 27px;
}