<section id="results-page">
  <h2>Resources Near <%= @address %></h2>

  <div id="map-canvas"></div>

  <h3>Nearest Places:</h3>
  <ol>
    <% @places.each do |place| %>
      <li>
        <%= link_to place.name, place_path(place) %>

        <p>Category: <% place.categories.each do |cat| %>
            <%= link_to cat.name, category_path(cat) %>
          <% end %></p></li>
    <% end %>
  </ol>
</section>
