// Colors
$light-gray: #F3F3F3;
$dark-gray: #222222;
$medium-gray: #808080;
$green: #8CC63F;
$teal: #00C69D;

$gradient: linear-gradient(to right, $green, $teal);

// Typography

$effra: "effra", sans-serif;
$main-family: $effra;

$bold-weight: 700;
$normal-weight: 400;

