<h2>NYC Social Service Finder</h2>

<h3>Find Resources Near You</h3>

<form method="POST" action="#">
  <p><label>Starting Address:</label>
      <p><input type="text" size="50" name="address" value="14th St. and 6th Ave., New York, NY"></p></p>
  <p><label>Filter by Category</label></p>
  <p>checkboxes go here</p>
  <p><input type="submit"></p>
</form>

<h3>Browse Categories</h3>
<ul>
<% Category.all.each do |cat|%>
  <li><a href="/categories/<%= cat.id %>"><%= cat.name %></a></li>
<% end %>
</ul>

<h5>Data Sources:</h5>
<ul>
  <li><a href="https://data.cityofnewyork.us/" target="_blank">NYC OpenData</a></li>
  <li><a href="https://data.ny.gov/" target="_blank">New York State OpenData</a></li>
  <li><a href="http://callen-lorde.org/graphics/2012/03/NYC-Metro-TGNC-Resources_Updated-9_12_2013.pdf" target="_blank">NYC-Metro Area Transgender and Gender Non-Conforming (TGNC) Community Resources</a></li>
</ul>