<h3><%= comment.title %></h3>
<p>Posted on <%= comment.created_at %></p>
<p><%= comment.content %></p>
<p><a class="edit-comment" href="#">edit</a> | <a class="delete-comment" href="#">delete</a></p>
