<form method="POST" action="/places/:id/comments">
  <label>Title</label>
    <input type="text" name="comment[:title]">
  <label>Content</label>
    <input type="text" name="comment[:content]">
  <label>Rating</label>
    <select>
      <option value="5">Very Good</option>
      <option value="4">Good</option>
      <option value="3">Okay</option>
      <option value="2">Bad</option>
      <option value="1">Very Bad</option>
    </select>
  <input type="submit">
</form>